/*Typography*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$font-family: 'Josefin Sans', sans-serif;
$font-size: 1rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600; 

/*Colors*/
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

$pattern-img: url(../images/bg-pattern-desktop.svg);
$banner-img: url(../images/hero-desktop.jpg);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 56% 1fr;
  grid-template-areas: 'main cover';
  height: 100vh;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  background: $pattern-img center center no-repeat;
  background-size: cover;

  main {
   grid-area: main;
   height: 100%;
   padding: 8vh 10vw;
   .logo {
    grid-area: logo;
   }
   .cover-mobile {
    display: none;
   }
   .text {
    grid-area: text;
    width: 80%;
    h1 {
      font-size: 4rem;
      font-weight: $font-weight-light;
      letter-spacing: 1rem;
      color: $desaturated-red;
      text-transform: uppercase;
      margin: 120px 0 30px;
    }
    b {
      color: $dark-grayish-red;
      font-weight: $font-weight-regular;
    }
    p {
      color: $desaturated-red;
      margin-bottom: 1.8rem;
      line-height: 1.75rem;
    }
   }
   form {
    display: flex;
    grid-area: form;
    position: relative;
    width: 100%;
    label {
      border-width: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      height: 1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      white-space: nowrap !important;
      width: 1px !important;
    }
    input {
      padding: 16px 20px;
      border: 1px solid $desaturated-red;
      border-radius: 30px;
      color: $dark-grayish-red;
      font-size: $font-size;
      position: relative;
      outline: none;
      width: 100%;
      &::placeholder {
        color: $desaturated-red;
      }
    }
    button {
      padding: 13px 35px 10px;
      background: $soft-red;
      background-position: center;
      background-size: cover;
      border: 0;
      border-radius: 30px;
      box-shadow: 0 0 10px 5px hsla(0, 36%, 70%, .4);
      position: relative;
      z-index: 2;
      left: -60px;
      &:hover {
        cursor: pointer;
        background: $gradient2;
        box-shadow:0 15px 20px -3px;
      }
    }
    .error-message {
      display: none;
      position: absolute;
      padding-top: 60px;
      padding-left: 21px;
      width: 100%;
      color: $soft-red;
      &.is-validated {
        input:invalid {
          border: 1.5px solid $soft-red;
          .error-message {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            &::before {
              content: '';
              width: 24px;
              height: 24px;
              background: url('../images/icon-error.svg');
              margin-top: -46px;
              margin-right: 180px;
            }
          }
        }
      }
    }
    
   }
  }

  section {
    grid-area: cover;
    background: $banner-img center center no-repeat;
    height: 100%;
    background-size: cover;
  }
}

